/app/node_modules
/app/reports
/app/mochawesome-report
/app/public/hot
/app/public/images
/app/public/js/main.js
/app/public/mix-manifest.json

/app/storage/*.key
/docker/custom_my.cnf
/docker/db-cron
/app/vendor
/app/.vscode
/app/.phpdoc
/app/.idea
/app/_ide_helper.php
/app/_ide_helper_models.php
/app/.env
/app/*.cache
/app/.env.backup
/app/.phpunit.result.cache
/app/.phpstorm.meta.php
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
# *.png
/app/yarn-error.log
/app/public/js/app.js
/app/public/css/app.css
/app/public/js/app.js.LICENSE.txt
/app/public/js/main.js.LICENSE.txt

/app/storage/api-docs/api-docs.json
/app/storage/framework/laravel-excel/*.*
/app/docs/
/app/public/adminer.php

*.sql
/app/persistent_product
/app/public/test_sockets.html
/app/public/reports
/app/.DS_Store
/app/resources/jsonResponses/
/app/.php-cs-fixer.cache


/.idea

